@media (max-width: 1400px) {
  .header-info__title {
    font-size: 50px;
  }

  .header-info__bg1 {
    top: -55px;
    left: 280px;
    max-width: 185px;
  }

  .header-info__bg2 {
    bottom: -40px;
    max-width: 205px;
  }

  .header-info__photo {
    max-width: 500px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .menu {
    margin-left: 100px;
  }

  .header-info__title {
    font-size: 44px;
  }

  .header-info__bg1 {
    top: -55px;
    left: 280px;
    max-width: 165px;
  }

  .header-info__bg2 {
    bottom: -55px;
    left: -10px;
    max-width: 185px;
  }

  .header-info__photo {
    max-width: 480px;
  }
}

@media (max-width: 1038px) {
  .header-info__bg2 {
    bottom: -32px;
  }
}

@media (max-width: 992px) {
  .header {
    min-height: 1200px;
  }
  .container {
    max-width: 960px;
  }

  .logo-wrapper {
    padding-top: 5px;
  }

  .logo {
    width: 200px;
  }

  .top-line {
    grid-template-columns: 200px auto 120px;
  }

  .menu {
    margin-left: 0px;
  }

  .start-btn__rectangle {
    width: 120px;
  }

  .start-btn__text {
    font-size: 14px;
  }

  .header-info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 3fr;
  }

  .header-info_left {
    text-align: center;
  }

  .header-info_right {
    grid-area: 2/1;
  }

  .header-info__bg1 {
    display: none;
  }

  .header-info__bg2 {
    display: none;
  }

  .header-info__photo {
    max-width: 633px;
    top: 100px;
    left: 50%;
    transform: translate(-316px);
  }

  .benefits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .benefits__item {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .top-line {
    position: relative;
    grid-template-columns: 80px auto 120px;
  }

  .logo-wrapper {
    margin: 0 auto;
  }

  .hamburger-wrapper {
    display: block;
  }

  .nav {
    display: none;
  }

  .header-info__photo {
    max-width: 500px;
    top: 100px;
    left: 50%;
    transform: translate(-250px);
  }

  .callback-form {
    left: 50%;
    bottom: -40px;
    transform: translate(-200px);
  }

  .email {
    width: 400px;
    padding: 10px 20px;
  }

  .submit {
    width: 120px;
  }
}

@media (max-width: 596px) {
  .header {
    min-height: 900px;
  }
  .top-line {
    position: relative;
    grid-template-columns: 60px auto 100px;
  }

  .logo-wrapper {
    padding-top: 15px;
  }

  .logo {
    width: 140px;
  }

  .start-btn__rectangle {
    width: 100px;
  }

  .start-btn__text {
    font-size: 12px;
  }

  .header-info__title {
    font-size: 24px;
  }

  .header-info__photo {
    max-width: 400px;
    top: 50px;
    transform: translate(-200px);
  }

  .benefits {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-top: 100px;
  }

  .benefits__item {
    margin-bottom: 80px;
  }

  .benefits__icon {
    margin-left: 20px;
  }

  .benefits__title {
    text-align: center;
  }

  .benefits__desc {
    text-align: center;
  }
}

@media (max-width: 526px) {
  .top-line {
    position: relative;
    grid-template-columns: 60px auto;
  }

  .logo-wrapper {
    width: 100%;
  }

  .logo {
    margin-left: auto;
  }

  .start-btn {
    display: none;
  }

  .header-info__photo {
    max-width: 320px;
    transform: translate(-160px);
  }

  .callback-form {
    left: 50%;
    bottom: -40px;
    transform: translate(-150px);
  }

  .email {
    width: 300px;
  }

  .submit {
    right: 10px;
    width: 120px;
  }
}
