@media (max-width: 1440px) {
  .article__item {
    width: 360px;
    margin-right: 20px;
  }

  .article__photo {
    width: 360px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1400px) {
  .header-info__title {
    font-size: 50px;
  }

  .header-info__bg1 {
    top: -55px;
    left: 280px;
    max-width: 185px;
  }

  .header-info__bg2 {
    bottom: -40px;
    max-width: 205px;
  }

  .header-info__photo {
    max-width: 500px;
  }

  .photo {
    width: 500px;
  }

  .about__photo-wrapper::before {
    width: 500px;
    height: 371px;
  }

  .about__title {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .about__desc-blue {
    height: 44px;
    overflow: hidden;
  }

  .about__desc-grey {
    height: 66px;
    overflow: hidden;
  }

  .prices-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    padding: 45px;
  }

  .prices__item {
    margin: 0 auto;

    &.active {
      top: -30px;
      left: -20px;
    }
  }

  .solutions__photo {
    img {
      width: 500px;
    }
  }

  .solutions__title {
    font-size: 42px;
    line-height: 46px;
  }

  .solutions__desc {
    font-size: 18px;
    line-height: 29px;
  }
}

@media (max-width: 1300px) {
  .blog {
    grid-template-columns: 40% 10% 50%;
  }

  .blog__articles {
    grid-column-start: 3;
    text-align: center;
  }

  .article__item {
    width: 400px;

    &:last-child {
      display: none;
    }
  }

  .article__photo {
    width: 400px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .menu {
    margin-left: 100px;
  }

  .header-info__title {
    font-size: 44px;
  }

  .header-info__bg1 {
    top: -55px;
    left: 280px;
    max-width: 165px;
  }

  .header-info__bg2 {
    bottom: -55px;
    left: -10px;
    max-width: 185px;
  }

  .header-info__photo {
    max-width: 480px;
  }

  .about__title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  .reviews {
    grid-template-columns: 25% 500px;
    grid-template-rows: 1fr 10% 1fr;
  }

  .reviews__photos {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .reviews__review {
    grid-row-start: 1;
    grid-column-start: 2;
    margin: 0 auto;
    padding-top: 100px;
  }

  .solutions__title {
    font-size: 32px;
    line-height: 42px;
  }

  .solutions__desc {
    font-size: 18px;
    line-height: 29px;
  }

  .team-item__name {
    font-size: 32px;
    line-height: 38px;
  }
}

@media (max-width: 1038px) {
  .header-info__bg2 {
    bottom: -32px;
  }

  .about {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 0;
  }

  .about__photo-wrapper {
    margin: 0 auto;
    margin-bottom: 100px;

    &::before {
      left: 50%;
      width: 660px;
      height: 490px;
      transform: translate(-315px);
    }
  }

  .photo {
    width: auto;
  }

  .about__tag,
  .about__title,
  .about__desc-blue,
  .about__desc-grey {
    text-align: center;
  }

  .about__btn {
    margin-left: 50%;
    transform: translate(-100px);
  }

  .prices {
    padding-top: 20px;
  }
}

@media (max-width: 992px) {
  .header {
    min-height: 1200px;
  }
  .container {
    max-width: 960px;
  }

  .logo-wrapper {
    padding-top: 5px;
  }

  .logo {
    width: 200px;
  }

  .top-line {
    grid-template-columns: 200px auto 120px;
  }

  .menu {
    margin-left: 0px;
  }

  .start-btn__rectangle {
    width: 120px;
  }

  .start-btn__text {
    font-size: 14px;
  }

  .header-info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 3fr;
  }

  .header-info_left {
    text-align: center;
  }

  .header-info_right {
    grid-area: 2/1;
  }

  .header-info__bg1 {
    display: none;
  }

  .header-info__bg2 {
    display: none;
  }

  .header-info__photo {
    max-width: 633px;
    top: 100px;
    left: 50%;
    transform: translate(-316px);
  }

  .benefits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .benefits__item {
    margin: 0 auto;
  }

  .reviews {
    grid-template-columns: 25% 500px;
    grid-template-rows: 1fr 10% 1fr;
  }

  .photos__photo1 {
    top: 0;
    left: 0;
    width: 220px;
  }

  .photos__photo2 {
    top: 155px;
    left: 250px;
    width: 195px;
  }

  .photos__photo3 {
    bottom: 40px;
    left: 60px;
    width: 170px;
  }

  .photos__circle_blue {
    top: -40px;
    left: 300px;

    &.active {
      top: 65px;
      left: 280px;
    }
  }

  .photos__circle_orange {
    top: 260px;
    left: -80px;

    &.active {
      left: 20px;
    }
  }

  .photos__circle_grey {
    bottom: -30px;
    left: 300px;

    &.active {
      bottom: 80px;
      left: 280px;
    }
  }

  .solutions {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-items: center;
  }

  .solutions__text {
    padding-bottom: 100px;
  }

  .solutions__photo {
    grid-column-start: 1;

    img {
      width: 600px;
    }
  }

  .solutions__title {
    font-size: 48px;
    line-height: 58px;
  }

  .solutions__desc {
    font-size: 24px;
    line-height: 29px;
  }

  .our-team__title {
    font-size: 42px;
    line-height: 50px;
  }

  .team-item__name {
    font-size: 24px;
    line-height: 30px;
  }
}

@media (max-width: 826px) {
  .prices-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: auto;
    padding-bottom: 0;
  }

  .prices__item {
    &.active {
      left: -20px;
      box-shadow: none;
    }

    &:last-child {
      padding-top: 40px;
    }
  }

  .reviews {
    grid-template-columns: 15% 500px;
    grid-template-rows: 1fr 10% 1fr;
  }

  .solutions__text {
    padding-bottom: 100px;
  }

  .solutions__tag {
    font-size: 14px;
  }

  .solutions__photo {
    img {
      width: 500px;
    }
  }

  .solutions__title {
    font-size: 32px;
    line-height: 40px;
  }

  .solutions__desc {
    font-size: 18px;
    line-height: 26px;
  }

  .blog {
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr 100px 1fr;
  }

  .blog__text {
    grid-column-start: 2;
  }

  .blog__articles {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    margin-left: 15px;
  }

  .blog__message {
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .top-line {
    position: relative;
    grid-template-columns: 80px auto 120px;
  }

  .logo-wrapper {
    margin: 0 auto;
  }

  .hamburger-wrapper {
    display: block;
  }

  .nav {
    display: none;
  }

  .header-info__photo {
    max-width: 500px;
    top: 100px;
    left: 50%;
    transform: translate(-250px);
  }

  .callback-form {
    left: 50%;
    bottom: -40px;
    transform: translate(-200px);
  }

  .email {
    width: 400px;
    padding: 10px 20px;
  }

  .submit {
    padding-left: 30px;
    padding-right: 30px;
  }

  .about__photo-wrapper {
    &::before {
      width: 500px;
      height: 371px;
      transform: translate(-230px);
    }
  }

  .photo {
    width: 500px;
  }

  .prices-title {
    margin-bottom: 60px;
    font-size: 34px;
    line-height: 40px;
  }

  .prices__item {
    &.active {
      left: 0;
      box-shadow: none;
    }

    &:last-child {
      padding-top: 40px;
    }
  }

  .reviews {
    grid-template-columns: 10% 500px;
    grid-template-rows: 1fr 10% 1fr;
  }

  .solutions__text {
    padding-bottom: 100px;
  }

  .solutions__photo {
    img {
      width: 400px;
    }
  }

  .solutions__tag {
    font-size: 12px;
  }

  .solutions__title {
    font-size: 28px;
    line-height: 34px;
  }

  .solutions__desc {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 654px) {
  .about {
    grid-template-rows: auto 1fr;
  }

  .about__photo-wrapper {
    max-height: 300px;
    margin-bottom: 60px;

    &::before {
      width: 300px;
      height: 222px;
      transform: translate(-138px);
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
    }
  }

  .photo {
    width: 300px;
  }

  .about__title {
    font-size: 24px;
  }

  .about__desc-wrapper {
    margin-bottom: 140px;
  }

  .about__desc {
    font-size: 14px;
  }

  .reviews {
    grid-template-columns: 500px;
    grid-template-rows: 1fr 10% 1fr;
  }

  .reviews__photos {
    grid-column-start: 1;
    grid-row-start: 3;
  }

  .reviews__review {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  .our-team__tag {
    font-size: 14px;
  }

  .our-team__title {
    font-size: 34px;
    line-height: 40px;

    &::after {
      width: 200px;
      margin-left: -100px;
    }
  }

  .blog {
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr 100px 1fr;
  }
}

@media (max-width: 596px) {
  .header {
    min-height: 900px;
  }

  .top-line {
    position: relative;
    grid-template-columns: 60px auto 100px;
  }

  .logo-wrapper {
    padding-top: 15px;
  }

  .logo {
    width: 140px;
  }

  .start-btn__rectangle {
    width: 100px;
  }

  .start-btn__text {
    font-size: 12px;
  }

  .header-info__title {
    font-size: 24px;
  }

  .header-info__photo {
    max-width: 400px;
    top: 50px;
    transform: translate(-200px);
  }

  .benefits {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .benefits__item {
    margin-bottom: 80px;
  }

  .benefits__icon {
    margin-left: 20px;
  }

  .benefits__title {
    text-align: center;
  }

  .benefits__desc {
    text-align: center;
  }

  .about__btn {
    padding-left: 40px;
    padding-right: 40px;
    transform: translate(-80px);
  }

  .reviews {
    grid-template-columns: 320px;
    grid-template-rows: 1fr 10% 1fr;
  }

  .review__slider-wrapper {
    width: 320px;
  }

  .review__item {
    width: 320px;
  }

  .solutions__text {
    padding-bottom: 100px;
  }

  .solutions__photo {
    img {
      width: 300px;
    }
  }

  .solutions__tag {
    font-size: 12px;
  }

  .solutions__title {
    font-size: 24px;
    line-height: 28px;
  }

  .solutions__desc {
    font-size: 16px;
    line-height: 22px;
  }

  .team-item__name {
    font-size: 20px;
  }

  .team-item__email {
    font-size: 14px;
  }
}

@media (max-width: 568px) {
  .prices__item {
    width: auto;

    &.active {
      width: auto;
      box-shadow: none;

      .prices__btn {
        width: auto;
      }
    }

    &:last-child {
      padding-top: 40px;
    }
  }

  .prices__desc {
    height: 48px;
    overflow: hidden;
  }

  .our-team__title {
    width: 240px;
  }

  .team-item__name {
    font-size: 36px;
    line-height: 44px;
  }

  .article__photo {
    margin-top: 40px;
    width: 300px;
  }
}

@media (max-width: 526px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .top-line {
    position: relative;
    grid-template-columns: 60px auto;
  }

  .logo-wrapper {
    width: 100%;
  }

  .logo {
    margin-left: auto;
  }

  .start-btn {
    display: none;
  }

  .header-info__photo {
    max-width: 320px;
    transform: translate(-160px);
  }

  .callback-form {
    left: 50%;
    bottom: -40px;
    transform: translate(-150px);
  }

  .email {
    width: 300px;
  }

  .submit {
    right: 10px;
  }

  .about__photo-wrapper {
    &::before {
      display: none;
    }
  }

  .prices__item {
    width: auto;

    &.active {
      width: auto;
      padding-left: 25px;
      padding-right: 25px;
      box-shadow: none;

      .prices__btn {
        width: auto;
      }
    }
  }

  .prices__desc {
    height: 48px;
    overflow: hidden;
  }

  .reviews {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
  }

  .review__title {
    width: 240px;
    font-size: 32px;
    line-height: 36px;
  }

  .reviews__review {
    width: 240px;
    padding-top: 40px;
  }

  .review__slider-wrapper {
    width: 240px;
    height: 150px;
  }

  .review__item {
    width: 240px;
  }

  .reviews__photos {
    display: none;
  }

  .reviews__review {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  .article__item {
    width: 240px;
  }

  .article__photo {
    width: 240px;
  }
}

@media (max-width: 440px) {
  .photo {
    width: 250px;
  }

  .about__btn {
    padding-left: 20px;
    padding-right: 20px;
    transform: translate(-60px);
  }

  .prices-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .prices__item {
    padding-left: 20px;
    font-size: 14px;

    &.active {
      width: auto;
      padding-left: 25px;
      padding-right: 25px;
      box-shadow: none;
    }

    .prices__btn {
      width: 100%;
      margin-left: -10px;
    }
  }

  .prices__btn {
    font-size: 14px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .solutions {
    padding: 40px 10px;
  }

  .solutions__text {
    padding-bottom: 60px;
  }

  .solutions__photo {
    img {
      width: 200px;
    }
  }

  .solutions__tag {
    font-size: 12px;
  }

  .solutions__title {
    font-size: 22px;
    line-height: 26px;
  }

  .solutions__desc {
    font-size: 16px;
    line-height: 20px;
  }

  .team-item__name {
    font-size: 32px;
  }

  .partners__title {
    font-size: 34px;
  }

  .blog__title {
    width: auto;
    font-size: 24px;
  }

  .article__item {
    margin-right: 0;
  }

  .article__title {
    font-size: 24px;
  }
}

@media (max-width: 330px) {
  .article__item {
    margin-left: -10px;
  }

  .header-info__photo {
    top: -10px;
  }
}
