@import 'fonts';
@import '../libs/sanitize';

a {
  text-decoration: none;
  color: #000;
}

button {
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;

  &:focus {
    outline: none;
  }
}

body {
  font-family: 'Avenir', serif;
  font-weight: 700;
  font-size: 16px;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 860px;
  background: linear-gradient(to top right, #fed4cd, rgba(254, 212, 205, 0));
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.container {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 38px 80px 33px 80px;
}

.logo {
  display: block;
  width: 234px;
  height: 80px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.top-line {
  display: grid;
  grid-template-columns: 234px auto 177px;
  font-family: Inter, serif;
  font-weight: 400;
  margin-bottom: 133px;
}

.hamburger-wrapper {
  display: none;

  &.active {
    .hamburger {
      transform: rotate(-45deg);

      &:before {
        transform: rotate(90deg);
        top: 0;
      }

      &:after {
        display: none;
      }
    }
  }
}

.nav-mobile {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: Inter, serif;
  font-weight: 400;
}

.menu-mobile {
  display: none;
  padding: 10px 0;
  background-color: #fed4cd;
}

.menu-mobile__item {
  padding: 5px 0;
  text-align: center;

  a {
    color: #fff;
  }

  &:hover a {
    color: #ff6744;
  }
}

.hamburger {
  position: absolute;
  top: 40px;
  left: 0;
  width: 40px;
  height: 4px;
  border-radius: 5px;
  background-color: #000;
  transition: all 0.3s;

  &:before,
  &:after {
    position: absolute;
    content: '';
    width: 40px;
    height: 4px;
    border-radius: 5px;
    background-color: #000;
  }

  &:before {
    top: -10px;
    left: 0;
    transition: all 0.3s;
  }

  &:after {
    top: 10px;
    left: 0;
  }
}

.menu {
  display: flex;
  justify-content: space-around;
  margin-left: 170px;
  padding-top: 12px;
}

.menu__item {
  display: inline-block;
}

.start-btn {
  padding-top: 15px;
  text-align: center;
  line-height: 44px;
  cursor: pointer;

  &:hover {
    .start-btn__rectangle:nth-child(2) {
      background-color: #ff6744;
    }

    .start-btn__text {
      color: #fff;
    }
  }
}

.start-btn__rectangle {
  z-index: -1;
  position: absolute;
  width: 177px;
  height: 44px;
  border: 1px solid #fed4cd;
  border-radius: 50px;
  background-color: #fffbfa;
}

.start-btn__rectangle:nth-child(2) {
  transform: rotate(-14.49deg);
}

.start-btn__text {
  color: hsl(11, 100%, 63%);
}

.header-info {
  display: grid;
  grid-template-columns: 35% auto 50%;
}

.header-info__title {
  font-family: Inter, serif;
  font-weight: 700;
  font-size: 64px;
}

.header-info__description {
  font-weight: 400;
  font-size: 14px;
  color: #7a7a7a;
}

.header-info_right {
  position: relative;
  grid-column-start: 3;
}

.header-info__bg1,
.header-info__bg2 {
  position: absolute;
}

.header-info__bg1 {
  top: -80px;
  left: 300px;
}

.header-info__bg2 {
  bottom: -70px;
  left: -15px;
}

.header-info__photo {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.callback {
  font-family: Inter, serif;
  font-weight: 400;
  font-size: 14px;
}

.callback-form {
  position: absolute;
  left: 50%;
  bottom: -40px;
  transform: translate(-342px);
}

.email {
  box-sizing: border-box;
  width: 684px;
  height: 80px;
  padding: 30px 40px;
  border-radius: 56px;
  border: 1px solid #ff6744;

  &::placeholder {
    color: #7a7a7a;
  }
}

.submit {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 200px;
  height: 60px;
  cursor: pointer;
  border-radius: 46px;
  background-color: #ff6744;
  color: #fff;
}

@import 'media';
