@import 'fonts';
@import '../libs/sanitize';

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: 'Avenir', serif;
  font-weight: 700;
  font-size: 16px;
}

.container {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 38px 80px 33px 80px;
}

.logo {
  display: block;
  width: 234px;
  height: 80px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.top-line {
  display: grid;
  grid-template-columns: 234px auto 177px;
  font-family: Inter, serif;
  font-weight: 400;
}

.hamburger-wrapper {
  display: none;
}

.hamburger {
  position: absolute;
  top: 40px;
  left: 0;
  width: 40px;
  height: 4px;
  border-radius: 5px;
  background-color: #000;

  &:before,
  &:after {
    position: absolute;
    content: '';
    width: 40px;
    height: 4px;
    border-radius: 5px;
    background-color: #000;
  }

  &:before {
    top: -10px;
    left: 0;
  }

  &:after {
    top: 10px;
    left: 0;
  }
}

.menu {
  display: flex;
  justify-content: space-around;
  margin-left: 170px;
  padding-top: 12px;
}

.menu-item {
  display: inline-block;
}

.start-btn {
  padding-top: 15px;
  text-align: center;
  line-height: 44px;
  cursor: pointer;

  &:hover {
    .start-btn__rectangle:nth-child(2) {
      background-color: #ff6744;
    }

    .start-btn__text {
      color: #fff;
    }
  }
}

.start-btn__rectangle {
  z-index: -1;
  position: absolute;
  width: 177px;
  height: 44px;
  border: 1px solid #fed4cd;
  border-radius: 50px;
  background-color: #fffbfa;
}

.start-btn__rectangle:nth-child(2) {
  transform: rotate(-14.49deg);
}

.start-btn__text {
  color: #ff6744;
}

@import 'media';
