@import 'fonts';
@import '../libs/sanitize';

a {
  text-decoration: none;
  color: #000;
}

button {
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;

  &:focus {
    outline: none;
  }
}

body {
  font-family: 'Avenir', serif;
  font-weight: 700;
  font-size: 16px;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 860px;
  background: linear-gradient(to top right, #fed4cd, rgba(254, 212, 205, 0));
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.container {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 38px 80px 33px 80px;
}

.logo {
  display: block;
  width: 234px;
  height: 80px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.top-line {
  display: grid;
  grid-template-columns: 234px auto 177px;
  font-family: Inter, serif;
  font-weight: 400;
  margin-bottom: 133px;
}

.hamburger-wrapper {
  display: none;

  &.active {
    .hamburger {
      transform: rotate(-45deg);

      &:before {
        transform: rotate(90deg);
        top: 0;
      }

      &:after {
        display: none;
      }
    }
  }
}

.nav-mobile {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: Inter, serif;
  font-weight: 400;
}

.menu-mobile {
  display: none;
  padding: 10px 0;
  background-color: #fed4cd;
}

.menu-mobile__item {
  padding: 5px 0;
  text-align: center;

  a {
    color: #fff;
  }

  &:hover a {
    color: #ff6744;
  }
}

.hamburger {
  position: absolute;
  top: 40px;
  left: 0;
  width: 40px;
  height: 4px;
  border-radius: 5px;
  background-color: #000;
  transition: all 0.3s;

  &:before,
  &:after {
    position: absolute;
    content: '';
    width: 40px;
    height: 4px;
    border-radius: 5px;
    background-color: #000;
  }

  &:before {
    top: -10px;
    left: 0;
    transition: all 0.3s;
  }

  &:after {
    top: 10px;
    left: 0;
  }
}

.menu {
  display: flex;
  justify-content: space-around;
  margin-left: 170px;
  padding-top: 12px;
}

.menu__item {
  display: inline-block;
}

.start-btn {
  padding-top: 15px;
  text-align: center;
  line-height: 44px;
  cursor: pointer;

  &:hover {
    .start-btn__rectangle:nth-child(2) {
      background-color: #ff6744;
    }

    .start-btn__text {
      color: #fff;
    }
  }
}

.start-btn__rectangle {
  z-index: -1;
  position: absolute;
  width: 177px;
  height: 44px;
  border: 1px solid #fed4cd;
  border-radius: 50px;
  background-color: #fffbfa;
}

.start-btn__rectangle:nth-child(2) {
  transform: rotate(-14.49deg);
}

.start-btn__text {
  color: hsl(11, 100%, 63%);
}

.header-info {
  display: grid;
  grid-template-columns: 35% auto 50%;
}

.header-info__title {
  font-family: Inter, serif;
  font-weight: 700;
  font-size: 64px;
}

.header-info__description {
  font-weight: 400;
  font-size: 14px;
  color: #7a7a7a;
}

.header-info_right {
  position: relative;
  grid-column-start: 3;
}

.header-info__bg1,
.header-info__bg2 {
  position: absolute;
}

.header-info__bg1 {
  top: -80px;
  left: 300px;
}

.header-info__bg2 {
  bottom: -70px;
  left: -15px;
}

.header-info__photo {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.callback {
  font-family: Inter, serif;
  font-weight: 400;
  font-size: 14px;
}

.callback-form {
  position: absolute;
  left: 50%;
  bottom: -40px;
  transform: translate(-342px);
}

.email {
  box-sizing: border-box;
  width: 684px;
  height: 80px;
  padding: 30px 40px;
  border-radius: 56px;
  border: 1px solid #ff6744;

  &::placeholder {
    color: #7a7a7a;
  }
}

.btn {
  padding: 20px 60px;
  cursor: pointer;
  border-radius: 46px;
  background-color: #ff6744;
  color: #fff;
}

.submit {
  position: absolute;
  top: 13px;
  right: 15px;
}

.benefits {
  font-family: Inter, serif;
  font-weight: 400;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 190px;
  padding-bottom: 150px;
}

.benefits__icon {
  position: relative;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  border-radius: 50%;
  background-color: #e1f3f4;
}

.benefits__icon .icon {
  position: absolute;
  top: 25px;
  left: 40px;
}

.benefits__title {
  margin-bottom: 11px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.benefits__desc {
  font-size: 14px;
  color: #7a7a7a;
  line-height: 22px;
}

.about {
  position: relative;
  display: grid;
  grid-template-columns: 60% 40%;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: Avenir, serif;
  font-weight: 400;
}

.about__photo-wrapper {
  position: relative;
}

.about__photo-wrapper::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 15px;
  width: 660px;
  height: 490px;
  background-color: #fff3f2;
  border-top-right-radius: 70px;
  border-bottom-right-radius: 70px;
}

.about__desc-wrapper {
  margin-bottom: 45px;
}

.about__desc {
  margin-bottom: 45px;
}

.about__tag {
  margin-top: 0;
  margin-bottom: 28px;
  font-family: Inter, serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
}

.about__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Inter, serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
}

.about__desc-blue {
  color: #5fafef;
}

.prices {
  padding-top: 100px;
  padding-bottom: 50px;
}

.prices-title {
  text-align: center;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 115px;
}

.prices-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 570px;
  padding: 45px;
  border: 1px solid #979797;
  border-radius: 26px;
}

.prices__item-popular {
  position: absolute;
  right: 21px;
  display: inline-block;
  padding: 8px 18px;
  border-radius: 13.5px;
  background-color: #4031b3;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.83px;
}

.price {
  font-size: 17px;
  margin-bottom: 28px;
}

.price-amount {
  margin-right: 11px;
  font-size: 36px;
  font-weight: 900;
  color: #231d4f;
}

.prices__title {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 900;
  color: #231d4f;
}

.prices__desc {
  margin-bottom: 15px;
}

.prices__services-item {
  padding-bottom: 10px;

  label {
    font-size: 15px;
  }

  input {
    position: absolute;
    z-index: 1;
    opacity: 0;
    width: 21px;
    height: 21px;
  }
}

.services-item__checkbox {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgba(82, 67, 194, 0.1037);
  vertical-align: middle;

  &.active {
    background-image: url('../images/checked.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.btn_inverse {
  background-color: rgba(244, 150, 209, 0.1);
  color: #ff6744;
}

.prices__btn {
  margin-top: 26px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 24px;
  font-family: Avenir, serif;
  font-size: 15px;
  font-weight: 900;
}
.prices__item {
  position: relative;
  box-sizing: border-box;
  width: 255px;
  height: 480px;
  font-family: Avenir, serif;
  font-weight: 500;
  color: #848199;
  transition: all 0.3s;

  &:nth-child(3) .price {
    margin-top: 41px;
  }

  &.active {
    margin: 0 auto;
    position: relative;
    top: -90px;
    right: 35px;
    box-sizing: border-box;
    width: 320px;
    height: auto;
    padding-top: 21px;
    padding-right: 21px;
    padding-left: 32px;
    padding-bottom: 130px;
    border-radius: 26px;
    box-shadow: 0 42px 20px rgba(82, 67, 194, 0.2958);
    background-color: #5243c2;
    color: #fff;
    transition: all 0.3s;

    .price-amount {
      color: #fff;
    }

    .prices__title {
      color: #fff;
    }

    .prices__btn {
      position: absolute;
      width: 253px;
    }

    .services-item__checkbox {
      background-color: #6356c8;

      &.active {
        background-image: url('../images/checked-active.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }
    }
  }
}

@import 'media';
